{% extends "header.html" %}

{% block content %}

<script type="text/javascript">
function populate(s1,s2){
  var s1 = document.getElementById(s1);
  var s2 = document.getElementById(s2);
  s2.innerHTML = "";
  if(s1.value == "Bad"){
    var optionArray = ["|","b1|76 * 48 * 12(inch)", "b2|72 * 38 * 14(inch)", "b3|72 * 36 * 15(inch)"];
  }
  for(var option in optionArray){
    var pair = optionArray[option].split("|");
    var newOption = document.createElement("option");
    newOption.value = pair[0];
    newOption.innerHTML = pair[1];
    s2.options.add(newOption);
  }
}
</script>

<div class="container ">
 <div class="col-md-4 col-md-offset-4"> 
  <form action="" class="was-validated">
    <div class="form-group">
       <select id="slct1" name="slct1" class="form-control" onchange="populate(this.id, 'slct2')" >
                  <option value=""></option>
                  <option value="Bad">Bad</option>
                  <option value="Shofa">Shofa </option>
                  <option value="Door">Door </option>
                  <option value="TV Unit">TV Unit</option>
                  <option value="Table">Table</option>
              </select>
  
    </div>
    <div class="form-group">
        <select name="slct2" class="form-control" id="slct2"></select>
    </div>

  </form>
</div>
</div>

{% endblock %}